{{define "main"}}
<form class='login' method='post'>
    <div>
        <label for='email'>Email</label><br>
        <input type='email' name='email' id='email' autocomplete='off'>
    </div>
    <div>
        <label for='password'>Password</label><br>
        <input type='password' name='password' id='password'>
    </div>
    <div>
        <input type='submit' value='Login'>
    </div>
</form>
{{end}}
