{{define "main"}}
<form class='signup'>
    <div>
        <label for='email'>Email</label><br>
        <input type='email' name='email' id='email' autocomplete='off'>
    </div>
    <div>
        <label for='password'>Password</label><br>
        <input type='password' name='password' id='password'>
    </div>
    <div>
        <label for='confirm'>Confirm Password</label><br>
        <input type='password' name='confirm' id='confirm'>
    </div>

    <div>
        <input type='submit' value='Sign up'>
    </div>
</form>
{{end}}
