{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>My stuff</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>My stuff</h1>
        </header>
        <main>
            {{template "main" .}}
        </main>
        <footer>
           &copy; 2024. Powered by <a href='https://golang.org/'>Go</a>   
        </footer>
    </body>
</html>
{{end}}
