{{define "navbar"}}
<nav>
    <div>
        <a href='/' class='navlink'><b>Start</b></a>
    {{if .IsAuthenticated}} 
        <a href='/stuff' class='navlink'><b>My Stuff</b></a> 
    {{end}}
    </div>
    <div>
    {{if .IsAuthenticated}}
        <form action='/logout' method='POST'>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            <button class='navlink'><b>Logout</b></button>
        </form>
    {{else}}
        <a href='/signup' class='navlink'><b>Sign up</b></a> 
        <a href='/login' class='navlink'><b>Login</b></a>
    {{end}}
    </div>
</nav>
{{end}}
